/* #region Color */
:root {
  --success: rgba(26, 188, 156, 1);
  --primary: rgba(44, 62, 80, 1);
  --secondary: rgba(58, 84, 109, 1);
  --dark: rgba(51, 51, 51, 1);
}

.bg_success {
  background-color: var(--success);
}

.bg_primary {
  background-color: var(--primary);
}
/* #endregion Color */

/* #region Utility */

.rounded_3 {
  border-radius: 0.75rem;
}

/* #endregion Utility */

/* #region Header */

/* #endregion Header */

/* #region Main */



.img_hero {
  width: 300px;
}

.line {
  width: 100px;
  height: 4px;
}

.about {
  background-color: var(--success);
}
/* #endregion Main */
