/* #region Color */
:root{
    --success:rgba(26, 188, 156, 1);
    --primary:rgba(44, 62, 80, 1);
    --secondary:rgba(58, 84, 109, 1);
    --dark:rgba(51, 51, 51, 1);
}
 
/* #endregion Color */

/* #region Header */

.navbar{
    background-color: var(--primary);
    height: 80px;
}

/* #endregion Header */

/* #region Main */

.banner{
    background-color: var(--success);
}

.img_hero{
    width: 200px;
}

.line{
    width: 100px;
    height: 3px;
    background-color: white;
}

/* #endregion Main */