

.debug>#site_header [class^="col"]>div{
    height: 100px;
}

.debug [class^="col"]>div{
    height: 300px;
    width: 100%;
}

.debug>#site_main>.contact [class^="col"]>div{
    height: 50px;
}

.debug>#site_footer>.footer_bottom [class^="col"]>div{
    height: 50px;
}